{% block header %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<header class="header">
			<nav class="d-flex justify-content-between w-50 mx-auto bg-body-tertiary">
				<a href="{{ path('app_book_list') }}" class="nav-link link-primary">Books</a>
				<a href="{{ path('app_author_list') }}" class="nav-link link-primary">Authors</a>
				<a href="{{ path('app_borrow_list') }}" class="nav-link link-primary">Borrows</a>
				{% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_user_list') }}" class="nav-link link-primary">Users</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="nav-link link-secondary">Log out</a>
			</nav>
		</header>
	{% endif %}

{% endblock %}
