{% block header %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<header class="header">

			<nav class="navbar navbar-expand-sm bg-light navbar-light">
				<div class="container-fluid">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="{{ path('app_book_list') }}" class="nav-link active">Books</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_author_list') }}" class="nav-link active">Authors</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_borrow_list') }}" class="nav-link active">Borrows</a>
						</li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
					        <a href="{{ path('app_user_list') }}" class="nav-link active">Users</a>
                        </li>
				        {% endif %}
						<li class="nav-item">
							<a href="{{ path('app_logout') }}" class="nav-link link-secondary">Log out</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	{% endif %}

{% endblock %}
